* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    color: var(--maincolor);
    transition: .4s ease-in-out;
    outline: none;

}

:root {
    --maincolor: #111;
    --hovertext: #FF0043;
    --greycolor: #b8c2d1;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

th, td {
    padding: 10px;
}

th {
    background: #606060;
    color: #fff;
}

td {
    background: #b5b5b5;
}

.logo:hover {
    color: var(--hovertext);
    text-decoration: underline;
}

li > a {
    font-size: 18px;
    padding: 0 30px;
}

li > a:hover {
    color: var(--hovertext);
}

.header__button {
    padding: 12px 24px;
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    border-radius: 30px;
    background-color: var(--hovertext);
    color: white;
}

.header__button:hover {
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.4);
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__content-text {
    margin-top: 90px;
}

.header__content-text > h1 , span {
    font-size: 52px;
    font-weight: 600;
}

.header__content-text > p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.header__content-text > a {
    padding: 18px 24px;
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    border-radius: 30px;
    background-color: var(--hovertext);
    color: white;
}

.header__content-text > a:hover {
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.4);
}

h2 {
    font-weight: 500;
    font-size: 32px;
}

.border {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 2px;
    background-color: #FF0043;
}

input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #4287f5;
}

button {
    margin-top: 12px;
    padding: 12px 45px;
    box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
    background-color: var(--hovertext);
    color: white;
    outline: none;
    border: none;
}

.privacy__content {
    margin-top: 30px;
}

.privacy__content > h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}

.privacy__content-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.privacy__content-text {
    margin-bottom: 30px;
}

footer {
    margin-top: 40px;
    border-top: 2px solid var(--greycolor);
}

